[2021-04-14 05:50] Hookyns opened #1 "Optional getType()"
# Suggestion
`ts-reflection` may be used in libraries and frameworks but not all the users want to use transformers or TypeScript at all. It would be nice to have optional getType() which return instance of `Type` or `undefined`.

Options:

1.  :+1:
[code]
2. :eyes:
[code]
3. :rocket:
Same as opt. 2. just name of the second function differ.
[code]
4. :heart:
Introduce Null-object(/void) type, whic

[2021-04-14 05:55] Hookyns commented on #1
I vote for option 1.

1. No breaking changes.
2. The main goal of this library and the getType() function is to get the Type so it should return it.

[2021-04-14 06:18] Hookyns opened #2 "Metadata file and the Type::findType(): Type | undefined and Type::getTypes(): Array<Type> methods"
# Suggestion
Add optional behavior or change the default behavior which will generate metadata.js file which will contain all the information about types at one place.

1. This should resolve the problem with circle dependencies,
2. no duplicit type declarations in generated .js files,
3. metadata can be used to find types eg. by name.

## Example
[code]

---

Maybe something like @reflect() would

[2021-04-22 18:46] Hookyns commented on #2
Metadata are generated into file from commit https://github.com/Hookyns/ts-reflection/commit/e8d6ff716590576979a1cad4adfb36250f12cff9

Methods findType and getTypes() soon.

[2021-07-02 03:49] Filmos opened #3 ""Error: Unknown type kind" when class has an array property"
**Reproducible example:**
[code]

**Generated error:**
[code]

If you replace `string[]` with `string` the error is gone and everything works fine, so it has something to do with arrays in the class.

[2021-07-06 18:08] dunglas opened #4 "Access to property modifiers"
It could be nice to add access to property modifiers such as `public`, `private`, `protected` and `readonly`. Are you interested in a Pull Request?

[2021-07-19 00:52] Hookyns commented on #4
@dunglas

Yeap, it would be nice to extends **Property** interface by accessModifier/accessibility/is(Public/Private/Protected/Readonly) property or something similar,.. just to pick... I try to keep it similar to C# reflection so it should be isPublic, isPrivate, isProtected, isReadOnly.

I would generate some enum property accessModifier from transformer and implement isPublic, isPrivate, isProt

[2021-07-19 01:28] Hookyns commented on #3
@Filmos TY for reported issue.

I have big refactoring in progress and this is fixed in the refactored version. It'll be out in two weeks, I hope.

[2021-09-30 06:11] Hookyns commented on #3
Two months have passed - instead of two weeks - and I still do the refactoring (it's partial rewrite more than refactoring).
I'm getting close...

[2021-12-09 02:20] usaccounts opened #6 "fullname, name returns empty for types"
[code]

[2021-12-09 08:14] Hookyns commented on #6
Hello @usaccounts thank you for pointing this out.
It is fixed in tst-reflect-transformer@0.8.4

[2021-12-09 08:14] #6 closed

[2021-12-09 19:25] usaccounts commented on #6
Cheers, thanks.

[2022-01-16 21:27] Eluminati opened #7 "Question: Can I use this inside a property decorator?"
Hi there,

first of all this seems to be a very interesting project and maybe it's ver useful.
I wonder if I could use this in property decorators to get the type during runtime. I am planing to build a Mongoose Schema definition based on the class I am writing. For this I think I need to do something like this:

[code]

Do you think this could work? I am still in preparation of my project so I ca

[2022-01-16 22:24] Hookyns commented on #7
Well, I play around with tst-reflect and decorators in this repo: https://github.com/Hookyns/react-typed-di
Class decorators work but property decorators do not,.. it is not implemented,.. but it should be possible to implement that.

I've made this repl with example usage of class decorators.
https://replit.com/@Hookyns/tst-reflect-example-decorators
You can access property decorators from that c

[2022-01-18 03:14] caiodallecio opened #8 "Getters and setters ?"
Is it possible to check if a given property has/is a getter or setter? Would you be interested in a PR ?

[2022-01-18 10:01] Hookyns commented on #8
Hi @caiodallecio,

it is not possible now, but it is possible, PR is welcome. Getters & setters are returned with fields by Type.getProperties().

We can extend interface `Property` by `isSetter()` and `isGetter()` and join that with #4 and add `isPrivate()`, `isProtected()`, `isPublic()` and `isReadOnly()`.

This means:

1. Add enum `Accessor` { Getter, Setter } to the runtime package (runtime/re

[2022-01-19 23:44] Hookyns commented on #4
Access modifiers are available from tst-reflect@0.6.0-alpha.5 and tst-reflect-transformer@0.8.5-alpha.0

[2022-01-19 23:54] Hookyns commented on #8
Information about getters and setters is available from tst-reflect@0.6.0-alpha.5 and tst-reflect-transformer@0.8.5-alpha.0

PS: used in `./dev/class-info` example

[2022-01-21 22:01] Eluminati commented on #7
OK, I've tryed to play around a litle bit with the package. For some reason I can't get any type information. Here is what I#ve done:

[code]

I am building my app with @ionic/vue. This is my vue.config.js

[code]

I added the folloging to my compilerOptions in tsconfig.json:

[code]

because I am using config extension, I have added the "reflection" field in the corresponding tsconfig.json. Other

[2022-01-22 22:01] Hookyns commented on #7
@Eluminati There are several issues I've noticed.

Output of `npm run build` contains errors thrown by eslint from reflect.ts (file from this package). I fixed those issues in the package.

But the main problem is visible by running `npx ttsc` in src/client. There is some unknown type for transformer which is an Index Access Type in Mongoose Schema class.
`get<K extends keyof SchemaOptions>(key: K

[2022-01-23 13:02] iDevelopThings opened #9 "Question"
Hey, sorry I wanted to reach out, but couldn't find any contact info.

I was working on a similar package with some other useful features, then I discovered yours, I really like what you've put together here

Is there anything you're against adding to this reflection wise and would you be open to me submitting prs with some of the features I'd love? :)

It doesn't make sense for me to release yet

[2022-01-23 15:15] Hookyns commented on #7
@Eluminati I've made few updates and build of whole project is now OK. JavaScript code generated by running `npx ttsc` contains everything so it should works.

_Please, download the latest versions of both packages - runtime and transformer._

**But** while running `npm run build`, some bundling process breaks something..
In **dist/js/index.js**, there is:
[code]

Correct code generated by Typescr

[2022-01-23 15:29] Hookyns commented on #9
Move into the https://github.com/Hookyns/ts-reflection/discussions/10

[2022-01-23 15:29] #9 closed

[2022-01-23 16:13] Eluminati commented on #7
hey thank you very much. Maybe the generated code is incomplete because of the "transpileOnly" configuration of ts-loader?
It could also be a problem, that the cache-loader is used by vue or a bunch of other loaders. Lets see... I will play around a little bit with the package. =)

[2022-01-23 16:36] Hookyns commented on #7
Yeap, it can be a hundred different thing,..
But I'm sure that you configured it right and transformer is executed because even in dist/js/index.js there is `__genericParams__` parameter added into `function Model()` (your decorator).

[2022-01-28 07:07] iDevelopThings opened #12 "Constructor(Type.ctor) type problems"
Not sure if this is a known issue or not, was going to figure a way to fix it if so.
Also saw some TODO in the code, so I'm not sure if you have some issues in mind etc.

This is my TS:
[code]

This is the generated JS:
[code]

Essentially the import for "SomeServiceClass" is removed from the file

So when we call Reflect.construct(ctor, []) it cannot reference the actual module and this error is

[2022-01-28 07:12] iDevelopThings commented on #12
As a side note/idea

I was thinking it may be useful to add some other meta related to file location, I have some code in the project I was originally building which output, the source file location & where the built file is

This way you could dynamically Import this file, which would potentially be useful for the `Type.ctor` since you could just output something like

[code]

If you're open to t

[2022-01-28 07:16] iDevelopThings commented on #12
Was just playing some more... and this might actually just be the typescript compiler that does this, because "SomeServiceClass" isn't actually used, just used as a type

If i add ```const inst = new SomeServiceClass()``` to the ts file it works fine

[2022-01-28 07:49] Hookyns commented on #12
This is odd. I did not know TS itself do optimizations like this..

You cannot do just dynamic import, because there can be not exported classes.
But this is relared
https://github.com/Hookyns/ts-reflection/blob/27da5872bb34d92987cff1422fdba31365e4a075/transformer/src/getTypeDescription.ts#L292-L301

[2022-01-28 09:11] iDevelopThings commented on #12
Yeah me neither, this is a new one to me 😅

And yeah, I have a PR in the working for this, hopefully it solves the problem and you agree with my solution 👍

[2022-01-28 11:55] iDevelopThings commented on #12
@Hookyns take a look at that commit and let me know what you think

https://github.com/iDevelopThings/ts-reflection/commit/f4ebbeccf51a82b364ed2663f01053c43f6c40fb

I didn't go too overkill but it works quite nicely from what i can tell so far, the only problem i foresee is if people don't configure the default tsconfig "outdir" setting or have it slightly different than i ever expected

[2022-01-28 13:30] Hookyns commented on #12
@iDevelopThings I've just realized.. this will break front-end usage, won't it? Webpack will not process this without special plugin, right? We should rather generate direct imports into transpiled .js source files.

[2022-01-28 13:37] iDevelopThings commented on #12
F I didn't think of this 🤦

I was trying to do that originally, it wouldn't work for some reason though, maybe I was modifying the usage of the metafile though, not 100% sure 😅

[2022-01-28 13:43] iDevelopThings commented on #12
Ahh... its not far off working, just a couple of things to work out :D

![image](https://user-images.githubusercontent.com/4105581/151557132-35b19d69-8b11-4c8a-a822-f403e950d964.png)

[2022-01-28 14:17] iDevelopThings commented on #12
I wonder if this would work with webpack? 🤔

![image](https://user-images.githubusercontent.com/4105581/151562209-9942571e-fc29-4936-95f4-bc68a5c82015.png)

For some reason I cant get the top-level require name to match/reference the name in `ctor`

Even if i pass the identifier down into the node creation for `ctor` which is how I thought it worked for a kind of "unique" identifier 😅

[2022-01-28 14:19] Hookyns commented on #12
I think this should work.

[2022-01-28 14:22] iDevelopThings commented on #12
Okay sweet - atleast from a container perspective this would give a way to resolve those instances 😅

Are you cool with keeping the `ctorDesc` meta for other purposes? As you say, it's not so useful from a browser perspective, but for node servers, it can be so handy

There's probably some stuff I can remove from it also so it's less to output

[2022-01-28 14:35] Hookyns commented on #12
It increase the size of metadata but it's OK. Maybe I would reduce those properties just to `en` (exportName) and `path` with absolute path. No relativePath nor requirePath... relative to what? and require path can be absolute path.

It's just odd, why is `default` name of that type (I mean `n: "default",`? It is name of the export but name of the type is name of that class. It must be bug in my o

[2022-01-28 14:49] iDevelopThings commented on #12
Yeah, I wonder if it would be better to have another function similar to getType() for getting that module location information instead, so it's only included when requested... but eh

relativePath is the path relative to where the meta is, for example, src/Nested/Deeper/ClassA.ts and src/ClassB.ts
In ClassA, it would be "./../../ClassB.ts" - basically how you would define the path for an import y

[2022-01-28 15:01] Hookyns commented on #12
Well, lets introduce new config property, `mode: "universal" | "server" = "universal"`.
Universal is basic usage for both server and client. But there will be no redundant information. Server will be extended.
Does it sound good?

[2022-01-28 15:25] iDevelopThings commented on #12
That makes sense to me 😄 good idea^^

I also wonder, are you open to using an outDir in the tsconfig of both packages?

These js files here can be annoying at times, especially when you need to delete them all 😅
![image](https://user-images.githubusercontent.com/4105581/151573829-651b884e-0cfb-48f3-9e9f-0f54bbe81631.png)

[2022-01-28 18:20] Hookyns commented on #12
NP, change it.

[2022-02-02 14:33] hugebdu opened #17 "nested interface properties are missing?"
Hola.
Are nested interfaces supported (see code below)?

[code]

thanks!

[2022-02-02 14:48] Hookyns commented on #17
Hello @hugebdu,
this should work, there is no depth limit (I'll test it and reply), but we've already found similar problem and solved it, but it is not published yet. Hope I'll publish new version at the end of this week; it is huge set of changes, new options and generally much closer to the version 1.0.

[2022-02-02 14:49] hugebdu commented on #17
@Hookyns thanks for your quick reply.
shall check the new version once published.

[2022-02-03 08:53] hugebdu commented on #17
@Hookyns UPD:

if I define `nested` as optional (with `?`) I do get what I'd expect - see below:

[code]

hope that helps

[2022-02-03 10:08] Hookyns commented on #17
I've made some tests and it is rly issue, even in new (not released yet) version.

That's interesting. 😆
I'll look at it, thanks.

[2022-02-03 10:29] hugebdu commented on #17
actually partially true.
it did happen with `ts-jest` in my project, but when I tried in your `examples/base-usage` it is still empty, regardless of `?`

and yes, I also tried the `devel` branch - same

[2022-02-03 10:30] hugebdu commented on #17
I suspect some traversal issue in `getTypeCall`
didn't dig any deeper.

also adding `getType<Bar>()` call before `getType<Foo>()` resolves the issue

[2022-02-03 10:40] Hookyns commented on #17
I've fixed the issue. There were some weird type reference.
After some tests I've found another issue,.. unrelated.. but

I'm preparing next version in `https://github.com/Hookyns/ts-reflection/tree/feature/refactored-stores` you can test it there if you want.

[2022-02-03 10:57] hugebdu commented on #17
@Hookyns confirm that in `https://github.com/Hookyns/ts-reflection/tree/feature/refactored-stores` works like magic.

Thanks!

[2022-02-03 12:55] hugebdu opened #19 "Support of Enums"
Given something like
[code]

Is there a way to get the enum name and literals while introspecting `Person` type property (`getType<Person>().getProperties()[0]`)?

I see that the property type kind is `Container` which totally makes sense, but cannot find neither the enum name nor its value names.

Thanks!

[2022-02-03 14:00] Hookyns commented on #19
Hello,

kind `Container` is mainly for type operations such as Union and Intersection (Type1 | Type2 & Type3), it is not intended for enums, but yeah, it makes sense it fell to this kind.
I think I haven't test enums yet; I think the new `Enum` kind will be needed with new special handlers for that.

Now it generates
[code]
Which is union of literals. There are values but no names,.. its under `Ty

[2022-02-03 14:05] hugebdu commented on #19
indeed, reference to enum sounds good, but a discriminator is required to know it's an enum (maybe `TypeKind.Enum`?)

[2022-02-03 15:12] Hookyns commented on #19
Okay, I've pushed implementation into same branch (`https://github.com/Hookyns/ts-reflection/tree/feature/refactored-stores`).

There is no reference to the real enum, it was quite problematic, because those enums can be in private modules (not exported) etc. and the enums would be useless without references.

So I add
- `Enum` kind,
- `Type.isEnum(): boolean`,
- `Type.getEnum(): EnumInfo`

EnumIn

[2022-02-03 16:01] Hookyns commented on #2
New methods:
- `Type.find(): Type | undefined`
- `Type.getTypes(): Type[]`

[code]

[2022-02-03 16:02] #2 closed

[2022-02-03 16:18] iDevelopThings commented on #2
Side note to anyone who looks at this too, this "find" method doesn't work if you use ts-node. I'm currently trying to find a fix for this
Maybe this should be documented somewhere 😅

[2022-02-03 16:24] Hookyns commented on #2
It must work 😄 I'll try that.

[2022-02-03 16:28] iDevelopThings commented on #2
When using the meta lib file, it doesn't properly - atleast in this situation:  my main indexed file was index.ts, I had find in there. But with how ts-node compiles whilst it resolves require calls, the transformer doesn't run in time

..... wait, it worked for me with ttsc O.o

[2022-02-03 16:32] Hookyns commented on #2
[code]

[2022-02-03 16:36] iDevelopThings commented on #2
https://github.com/Hookyns/ts-reflection/blob/c2c595716e65fbe23bd28f8568938e4b4ec7dd89/transformer/src/meta-writer/inline/InlineMetadataWriter.ts#L77

Maybe we remove this

It's technically fine to leave the import there i think 🤔

[2022-02-03 16:41] Hookyns commented on #2
I've got it,..
It works in `metadata.type = typelib` mode, not in `inline`..

[2022-02-03 16:58] Hookyns commented on #2
Now it works OK. `inline` and `typelib` too.
ts-node as well.. in `inline`... not in `typelib`

[2022-02-03 17:15] Hookyns commented on #19
I've published new versions of packages with implementation:

`tst-reflect@0.6.0-beta.0`
`tst-reflect-transformer@0.9.0-beta.0`

[2022-02-03 17:15] #19 closed

[2022-02-03 17:16] Hookyns commented on #17
I've published new versions of packages with fix:

`tst-reflect@0.6.0-beta.0`
`tst-reflect-transformer@0.9.0-beta.0`

[2022-02-03 17:16] #17 closed

[2022-02-03 17:17] #8 closed

[2022-02-03 17:41] iDevelopThings commented on #2
I'm so confused... it's now working fine for me O.o

[2022-02-03 18:20] iDevelopThings commented on #2
Okay I think my main problem is just related to ts-node and the logic for this include/exclude system I'm working on.

I think it's just a case of it not visiting the files defined, since i tapped some hacky logic onto the mainVisitor...

For this idea to work, it might have to be a program transformer O.o

[2022-02-04 15:18] Hookyns opened #20 "Generate metadata about Modules"
# Proposed Changes
1. Create new class `Module`
[code]

2. add property `module` into `Type`
[code]
3. add new config option `reflection.metadata.modules: boolean = false`.

# Notes
This can be very handy for server usage, but somebody might find this useful on client too so it should be optional. Disabled by default.

[2022-02-04 16:01] iDevelopThings commented on #20
I like this idea... this would probably be a better solution to my idea for include/exclude to find types, since types are just an easy way to find a module(with the problem I'm trying to solve atleast)

[2022-02-04 18:54] Hookyns commented on #20
I think that include/exclude is still important here and maybe more important...

We can generate Module metadata about modules whose types are used in the getType<>() to save some resources but usage of the Modules would have different purpose,.. I think we want a list of all the modules. It's okay, but it is not so okay to generate metadata for all the types inside those modules. Those types sho

[2022-02-04 20:00] iDevelopThings commented on #20
Oh yeah definitely it is 😅

It makes perfect sense and I love the idea, this idea is kind of the reason I came up with the "includes/excludes" stuff, because I needed something like this 😄

It's just a harder problem to solve than I originally thought - I'm having troubles finding a decent way to include a file in the transformer, that's not supposed to be there

For example;
If you have `FileA.ts

[2022-02-04 20:11] Hookyns commented on #20
Wow, I think it is simple but I didn't think about it that much,..

Transformer visit all the project files. It has to. So...

1. Grab includes and excludes from config and create list of RegExps from those glob patterns. (It's a must,.. performance; no need for globing etc. to work with FS).
2. In index.ts check `if (!includeRegexes.some(regex => regex.test(node.fileName)) return;`
3. Done!

[2022-02-04 20:19] Hookyns opened #21 "Unify all JSDoc tags to @reflect"
# Proposed Changes
- Remove `@reflectGeneric`,
- remove `@reflectDecorator`,
- create new JSDoc tag `@reflect`

# Note
It's easier to remember and there is no need to have separated tags.

[2022-02-04 20:54] Hookyns opened #22 "Minify runtime package"
For the sake of browser usage we should make bundled and minified version of runtime package which will be browser (plain TypeScript; no bundlers) friendly.

[2022-02-04 22:49] Hookyns opened #23 "Type.ctor in undefined when type is not exported"
# Bug
## Current Behavior
[code]

FooCtor is undefined.

## Expected Behavior
Because getType<>() is used on local (even unexported) class, it should have ctor reference.

[2022-02-05 00:07] Hookyns opened #24 "New config option onlySafeImports"
# Proposed Changes
- Add option `reflection.onlySafeImports: boolean`,
- in case the onlySafeImports is true, all Type descriptions of types from `node_modules` will have plain `Object` as ctor.

# Notes
`Type.getTypes().forEach(type => type.ctor)` is dangerous action, because if some Type is from node_modules and it looks like:

[code]

it can do some damage.

New `include/exclude` config options

[2022-02-05 00:26] Hookyns commented on #24
Another thing we can do is check if there is some `CallExpression` in `SourceFile` statements.. for modules inside `node_modules`.

[2022-02-05 17:50] Hookyns commented on #1
getType() now returns Type.Unknown and log debug message when used without transformer.
Field "tst-reflect-disable" in global object (window, global or globalThis) can disable the debug message informing about usage of getType() without transformer.

[2022-02-05 17:50] #1 closed

[2022-02-05 21:41] Hookyns commented on #12
Merged in #18

[2022-02-05 21:41] #12 closed

[2022-02-05 23:43] Hookyns commented on #23
@iDevelopThings What do you think about it? It was implemented this way but broken by the rework so it's breaking change.

**But is it good idea to keep the old behavior? I'm 50:50**.

I'd like to keep the same behavior for all the cases, which means: unexported types will never have ctor reference. But it is declared in module scope and you are using it in module scope so I think it should have t

[2022-02-06 10:21] Hookyns opened #25 "Get type of runtime value"
Add .getType() to Object prototype, which will allow get real type of value in variable, just like C# do.

# Proposed Changes
- Create `const TypeSymbol = Symbol("tst-reflect-type");`,
- for reflected classes generate `Class[TypeSymbol] = getType<Class>()`
- inruntime package declare
[code]

# Notes

Example
[code]

[2022-02-06 10:38] rezonant commented on #25
Shouldn't add custom methods to Object prototype, why not use `getType(value)`, just look for the type params in the CallExpression within the transformer and only transform it if it has them

[2022-02-06 10:58] hugebdu commented on #19
@Hookyns confirmed!
Thanks a lot!
Great lib, really like the idea, will see if I can use it for my use case (ORM schema definition via TS)

[2022-02-06 11:09] Hookyns commented on #25
@rezonant
The rule that nothing should be added to Object's prototype is gone IMHO. That was before option `enumerable: false`. Is there any reason which is it still true?

My reason for that is similarity with C# reflection, and I like OOP more than functional programing.
`function getType() {}` is here like operator `typeof()`. TS syntax does not allow anything like that, so it must be function

[2022-02-06 11:13] Hookyns commented on #19
I thank you for this issue!

Feel free to create another issues if you find something. 🙂

[2022-02-06 11:17] hugebdu opened #26 "imports from tst-reflect"
@Hookyns having some issues with the import, probably some bug in the transformer that messes up the import?
Assuming I need both `getType` and `TypeKind` imports, the only way it works for me is
[code]

Unifying into a single import (linters will note on that) like `import { getType, TypeKind } from "tst-reflect";` fails with
[code]

Tried also `import * as Reflect from "tst-reflect"` and then `R

[2022-02-06 11:18] hugebdu commented on #26
node 16, `ts-jest`, `ttypescript@1.5.13`, `typescript@4.5.4`

[2022-02-06 11:23] rezonant commented on #25
No, it's still not a good idea to add public methods to the Object or any builtin prototypes. https://developers.google.com/web/updates/2018/03/smooshgate

Besides, how do I get the type of this class?

[code]

Can I `expect(new Foo().getType()).to.be.a.number` ?
If so then is the way to do it `Object.prototype.getType.call(Foo)` ?

[2022-02-06 11:34] hugebdu commented on #19
[just did](https://github.com/Hookyns/ts-reflection/issues/26) 😄

[2022-02-06 11:59] Hookyns commented on #26
Do u have the latest versions of the tst-reflect and tst-reflect-transformer?

[2022-02-06 12:01] hugebdu commented on #26
using `"tst-reflect-transformer": "0.9.0-beta.1"` and `"tst-reflect": "0.6.0-beta.4"`

[2022-02-06 12:04] Hookyns commented on #25
It is the same like .toString().

It is on the prototype, it's default implementation and you override it by your own declaration in your class.

So result of that `expect` is true.

[2022-02-06 12:07] Hookyns commented on #25
And yeah.. if you override it, you override it.. your decision... and the only way is use direct prototype call as you mentioned.

[2022-02-06 12:11] Hookyns commented on #25
But okay, there will be base variant `getType(val: any): Type` and config option `reflection.usePrototype: boolean = false`.
That's fair. 😉

[2022-02-06 12:14] Hookyns commented on #26
I'll look at it in the evening. We have a little problem with circular modules in runtime package, so maybe this is related.

[2022-02-06 12:15] hugebdu commented on #26
nothing urgent, it's your weekend I guess.
thanks!

[2022-02-06 12:27] hugebdu opened #27 "prop decorators defined in a different compilation unit?"
Trying to use class prop decorator - works perfect when resides in the same source file with the property being decorated, but if the decorator is imported from another source file, I get `Property#decorators` empty

[2022-02-06 13:17] hugebdu commented on #27
also capturing decorator args would be really great (primitives & enums)
[code]

[2022-02-06 18:11] Hookyns commented on #25
@rezonant why thumb down? I say ok, use `getType(value)` as you proposed. And my original `Object.prototype.getType`  will be optional, disabled by default.

[2022-02-06 18:24] Hookyns commented on #27
This is related with #7

There is no problem to support property decorators and allow them to get type of class via generic type. So it is possible to start from other side from that decorator, with all the runtime arguments of that decorator and get type of class. That's the point in #7.

Your point is good too. If it is constant value, capture it.
So add `Decorator.arguments: any[]`?

[2022-02-06 19:15] rezonant commented on #25
Because I think modifying Object prototype even optionally isn't a good idea. You seemed to be pretty decided on it though and if that's what you want to do, well okay.

[2022-02-06 20:51] Hookyns commented on #25
I'm open to discussion. Tell me why is it not good idea.

There is a history of extending Object's prototype and it was bad practice, but it was a long time ago,.. That time of ES3..
It was bad practice because direct `Object.prototype.getType` change behavior of `for..in`, that's why x.hasOwnProperty() should be used. That's why everybody was saying "No! Never! Never extend Object's prototype". T

[2022-02-06 21:16] rezonant commented on #25
A smaller point: Imagine there are two projects that do the same thing. Someone else (maybe making a serialization library or something) also decides to put `getType()` onto the Object prototype. What happens for users? Why is your getType() "more canonical" than someone else's getType()? What if you want to use those two libraries together?

More importantly though, imagine your project becomes p

[2022-02-06 22:43] Hookyns commented on #26
@hugebdu Can u share some minimal example?

[2022-02-07 07:45] hugebdu commented on #27
Sounds good 👍

Thanks

[2022-02-07 07:56] hugebdu commented on #26
Ok, I think it's my fault, though I updated the `package.json` deps to the versions you published last time, my `tsconfig.json#compilerOptions#plugins#transform` was pointing to a local updated clone.
Changed to `tst-reflect-transformer` and have no issues with the imports.

Sorry for that.
IMHO can close.

Thanks!

[2022-02-07 08:17] Hookyns commented on #26
Don't worry, no problem. :)

[2022-02-07 08:17] #26 closed

[2022-02-10 23:59] Hookyns commented on #27
Fixed. Will be publish with other bug fixes in next version.

Contains fix of the decorators from different module and `arguments: Array<any>` for decorators.
Arguments must be `Literal` (string, number, boolean or enum. It can be value from `const` variable, even imported).
It is possible to allow Object litrals too, but it's a little tricky... I've kept it simple for this time...

[code]

[2022-02-11 02:03] Hookyns commented on #25
Done. Without extension of Object's prototype.

`@reflect()` decorator needed just to say the transformer to include that type into metadata. It will not be needed after "include/exclude" configuration.

[code]

[code]

[code]

[code]

[2022-02-11 12:23] Hookyns opened #28 "Write Tests"
Write tests, at least for core features before v1.0.0.

[2022-02-13 00:43] Hookyns opened #29 "New config options include/exclude"
Add two config options `include` and `exclude` which will be array of Glob patterns matching modules (files). Types from those modules will be automatically processed and added to metadata library.

[2022-02-13 00:44] Hookyns commented on #29
@iDevelopThings is working on it.

[2022-02-13 05:03] Hookyns commented on #7
@Eluminati property decorators are working in new version, same as method decorators.

[2022-02-13 05:13] Hookyns commented on #7
Available from:

`tst-reflect@0.7.0-alpha.0`
`tst-reflect-transformer@0.9.0-beta.2`

[2022-02-13 05:13] Hookyns commented on #21
Available from:

`tst-reflect@0.7.0-alpha.0`
`tst-reflect-transformer@0.9.0-beta.2`

[2022-02-13 05:13] Hookyns commented on #25
Available from:

`tst-reflect@0.7.0-alpha.0`
`tst-reflect-transformer@0.9.0-beta.2`

[2022-02-13 05:14] Hookyns commented on #27
Available from:

`tst-reflect@0.7.0-alpha.0`
`tst-reflect-transformer@0.9.0-beta.2`

[2022-02-13 08:26] hugebdu commented on #27
awesome!
thanks @Hookyns

[2022-02-13 13:54] #21 closed

[2022-02-14 01:11] #23 closed

[2022-02-14 02:57] Hookyns opened #30 "Runtime generic class type parameters"
Support class generic parameters same ways the method generic parameters.

[code]

[2022-02-14 09:35] #25 closed

[2022-02-14 20:54] marcj opened #31 ""Probably the most advanced TypeScript runtime reflection system""
Regarding such statements I'd be careful, because https://github.com/microsoft/TypeScript/issues/47658 is more advanced in addition to emitting smaller JS code for runtime type information.

[2022-02-14 22:40] Hookyns commented on #31
Hi @marcj, welcome to my humble repository.
I've read your proposal few days ago, it is interesting. 🙂

I just don't get one thing. You have focus on bundle size and you want to create eg. C++ interpreter for that. How would it run in the browser? WebAssembly? Cuz if it is meant for servers, size of generated metadata is not important IMHO.
Sorry if I missed something, it's quite large proposal wi

[2022-02-14 23:35] marcj commented on #31
It runs in any JS environment, just like yours.

Only to a certain extend. If you want minimum rtti size, you need either a decompressor or bytecode interpreter, as outlined in the referenced issue. Additional emitted JS size related to type information is important especially in bigger projects.

Yes, the described level 3 is more than tst-reflect, as tst-reflect does not emit type functions, onl

[2022-02-14 23:50] marcj commented on #31
That's not needed. Bytecode can be generated more efficiently using the AST directly. No need to have a library in-between.

The logic in type guards are inherently required to support resolving generic types. They are part of a TS reflection system, or otherwise the reflection system is not complete.

All of that is supported in https://github.com/microsoft/TypeScript/issues/47658 plus much more.

[2022-02-15 00:01] Hookyns commented on #31
**Runtime generic**
This works.
[code]
or
[code]
Type infer from passed arguments is just not implemented yet. Nobody needed it yet.
And still, this base usage is something nobody has. This is advanced feature.

[2022-02-15 00:26] marcj commented on #31
This works.

That has nothing to do with runtime generics. Runtime is if the type is inferred from an actual runtime variable, like almost all generics are used. It's one of the basic TS feature to automatically resolve the generic type parameter. With your static generic implementation you have to manually annotate all generic parameters in order to get the runtime type.

I just pointed out that

[2022-02-15 00:34] Hookyns commented on #31
Well I'm not gonna react to everything so late..

Summary to everything:
You've just picked all the edge cases to throw it away. You are comparing "jung" package in alpha stage with something what is developed by 13 people several years. Congratulation, you are winner!

I still think that my concept is advanced. It looks the way Reflection should. Usage is much more advanced and user friendlier th

[2022-02-15 00:42] marcj commented on #31
Don't get me wrong, I'm not here to bash you or your effort. I appreciate every contribution to runtime types, which includes your efforts. It sometimes comes across harsh when information is shared in an unemotional way.

I just pointed out that your claims are objectively wrong. Template literal, index signature, runtime generics are no edge cases. The user facing API of the referenced link is l

[2022-02-15 00:42] #31 closed

[2022-03-02 18:22] bjsi opened #32 "Get type args for things like Promise<T>"
Impressed by this project, I loved the reflection and meta programming possibilities in C# and love that you are adding it into TS!

I am wondering if it would be possible to get full type info for things like `Promise<T>`?

Eg. currently for `getType<Promise<string>>()` I get:

[code]

Would be happy to help however I can in implementing this, if you are able to guide me a bit to the correct area

[2022-03-02 18:43] Hookyns commented on #32
Hello @bjsi,
I'm  currently working on a big update with a lot of changes including support of all the native types (including Promise, Symbol, TypedArrays etc.) _[more info](https://twitter.com/hookyns/status/1498536859126874115) about upcoming update is on my twitter; and I will tweet the progress._ It will take me about week to finish it.
But it will be quite easy to fix the Promise in current

[2022-03-02 18:58] bjsi commented on #32
Amazing thanks @Hookyns :)

[2022-03-02 19:05] Hookyns commented on #32
Done.

[code]

I've just released new versions `tst-reflect@0.7.4` and `tst-reflect-transformer@0.9.4`.
Try it. 🙂

[2022-03-02 19:11] bjsi commented on #32
Wow you are the best :) many thanks

[2022-03-02 19:17] Hookyns commented on #32
I thank you. 🙂
You've just improved this project. I focus on the big upcoming update so I miss some issues.

[2022-03-02 20:06] #32 closed

[2022-03-04 15:38] bjsi opened #33 "Different Array<T> and Promise<T> types getting assigned the same metadata store id"
I ran into an issue with using getType on arrays and promises.

[code]

I cloned the library and ran in debug mode inside the test suite:

![image](https://user-images.githubusercontent.com/58147075/156791902-ee85c426-0ed7-4c4a-9695-b57f219d5dc7.png)

I think the problem is that `string[]` and `number[]` are getting assigned the same metadata store id.

Let me know if I can help in any way, maybe

[2022-03-04 20:31] Hookyns commented on #33
I think I know what is going on.
You can try to fix, if you want. 🙂 I'm off  for today...

The arrays are the same ts.Symbol probably so they have the same id.
https://github.com/Hookyns/tst-reflect/blob/f83571094313d5e3ba55cc0a06a0ccc7bed6234a/transformer/src/helpers.ts#L118-L128

In the new version I use type.id, not symbol.id, it should fix this issue, but it may cause other issues... Not every

[2022-03-04 20:55] #7 closed

[2022-03-04 20:56] #27 closed

[2022-03-05 09:21] bjsi commented on #33
Thanks, I'll play around and see if I can fix.

[2022-03-07 05:08] Hookyns commented on #33
I'm working on it.

Return type's id instead of symbol's id is not enough. I've made several other changes to make it work, everything seems alright but two tests are failing. Those tests seems unrelated to this but idk there must be something,..  I'm trying to solve that.

[2022-03-07 06:02] Hookyns commented on #33
Solved.

I've published `tst-reflect-transformer@0.9.5`.

[2022-03-07 15:26] bjsi commented on #33
Awesome, looks like the issue is fixed for me!

[2022-03-07 15:26] #33 closed

[2022-03-16 11:09] Igorjan94 opened #34 "How to get properties of {[key in keyof T]: T[key]} type?"
[code]

Following code produces
<details>
  <summary>this output</summary>

[code]

</details>
As I can see it doesn't contain neither properties nor types. Is it bug or feature or do I use it in wrong way?

Does it work with `Omit` and `Pick`? (I see the same output for them because they are implemented in similar way I did it in example)

[2022-03-16 11:26] Hookyns commented on #34
Hello @Igorjan94,
this is an issue with the current implementation. These types are not handled properly; there is a new big upcoming update which change the way how are these types handled. It should be possible to hotfix this. I can do it in the current version if you want.

[2022-03-16 11:53] Igorjan94 commented on #34
Thank you @Hookyns! No need to hotfix, I'll wait for update, it works fine in my current scenario, I was just testing how it works on different types I have

[2022-03-28 14:35] khusamov opened #35 "parcel-transformer-ttypescript: Debug Failure"
Hello!
Great project!

But it doesn't seem to work on Parcel.
I have prepared a repository in which I localized the error.
https://github.com/khusamov/temp-tst-reflect-on-parcel-errors

Is there any way to fix this?

Source file:

[code]

Error:

[code]

[2022-03-28 17:34] Hookyns commented on #35
Hello and TY.

I'll look into it later today or tomorrow.

[2022-03-28 19:56] khusamov opened #36 "Plugin typescript: @rollup/plugin-typescript TS5023: Unknown compiler option 'reflection'."
I tried to configure Rollup and found an error!

"rollup": "^2.70.1",

tsconfig.json

[code]

Error:

[code]

[2022-04-04 07:26] Hookyns commented on #36
Well it seems that Rollup validates tsconfig and yeah `reflection` is not an official property.
You can remove that property so default configuration will be used.

I'll look into it and I'll try to find out how to declare that config property or I'll have to create separad config or idk..

[2022-04-14 16:48] AbdulRafaySiddiqui commented on #30
Hey, First of all, thanks for making this amazing package, really appreciate the effort.

Can you please guide me on how and where to add the support for generics, I am trying to build a utility function that can return default values for an interface, and this package is the only thing that can make it happen as far as I know.

[code]

Thanks!

[2022-04-14 20:43] Hookyns commented on #30
Hi @AbdulRafaySiddiqui, TY.

Something like this?
https://stackblitz.com/edit/tst-reflect-example-get-default-values?file=index.ts

[2022-04-14 21:43] AbdulRafaySiddiqui commented on #30
oh great, I was doing the same thing, but with arrow function and it was giving this error `ReferenceError: __genericParams__ is not defined`, strange :/
I thought it was some limitation of the package, but changed to normal function just like yours and now it works :)

Thanks, @Hookyns

[2022-05-03 17:58] CristianPi opened #37 "TypeError: Cannot read properties of undefined (reading 'declarations') (monorepo Nx)"
The project is a monorepo created with Nx.
I'm using ts-patch (ttypescript) to allow transformers globally on the project
Is this error related to the local private pkg?

Stack
[code]

Affected line

processGenericCallExpression.js
[code]

Affected file

[code]

tsconfig.base,json
[code]

If you have suggestion on how to fix this let me know :).

[2022-05-03 21:09] Hookyns commented on #37
Hello @CristianPi ,

There must be some call of generic function/method/decorator which has no declararation (no .ts file nor .d.ts file).
I made some changes, I hope it will help. Try to install the new version `tst-reflect-transformer@0.9.6` and let me know.
I did some quick test with Angular in the past, but I never test it with complex project. There can be some other issues.

PS: I work on a

[2022-05-03 21:30] CristianPi commented on #37
Hi @Hookyns
Currently i'm using Nestjs (node framework) and React as fronted, i know, Nest looks like angular but fortunately is not :)

I checked the change but the problem persist as symbol is missing on the fncType
[code]

I patched the lib locally with

[code]

Also i don't see the emitted metadata :eyes:
only
[code]
without any
[code]

Don't know if the problem is related as this is a little

[2022-05-03 21:34] CristianPi commented on #37
Probably the transformer is not working on the project, it could explain the fncType.symbol -> undefined

Example code
[code]

[code]

[2022-05-03 21:55] Hookyns commented on #37
🤦 fixing from the bed... I missed Nest imports and the fact that the symbol is undefined not declaration... the error message is super clear. 🤦  I'll fix that tomorrow.

---
Do you have some kind of hot reloads? I think there is a bug with generated identifiers, webpack (or some loader) find identifiers unrelated while reloading and omit the metadata. Does full build work? Does just `tsc` work?

D

[2022-05-04 01:16] CristianPi commented on #37
Similar project:
https://github.com/knowankit/fullstack-monorepo-boilerplate

Yes, it's using a hot reload but  i have the same problem building for production/dev.

I tried changing the config (typelib and/or inline)  inside the tsconfig.base.json **but it's ignored**. (a problem with reading the configs?)
For testing i edited

[code]
and i enabled debug/changed flags but nothing.

testing with t

[2022-05-04 11:16] Hookyns commented on #37
Error with sourcefile when building using tsc fixed by PR #38
Merged in main, not published yet.

[2022-05-04 22:11] Hookyns commented on #37
and configure [tst-reflect](https://github.com/Hookyns/tst-reflect) for testing purpose

It would be nice.
I'll try it this weekend.

[2022-05-13 21:21] CristianPi commented on #37
@Hookyns
Sorry, life got the best of me.

Here the full configured repo: (npm i && npm run dev)
https://github.com/CristianPi/fullstack-monorepo-boilerplate

i changed the webpack config to disable **transpileOnly** (the root cause of all!)

there's just a little problem:
**ReferenceError: _ßr is not defined**

culprit:
Missing import **const _ßr = require("tst-reflect");** on every file

[code]

[2022-05-21 15:16] joeferner commented on #34
@Hookyns is the future changes on the `devel` branch? I have a potential fix to this problem along with a couple more changes. When I get time I can port those fixes to the `devel` branch.

[2022-05-21 18:32] Hookyns commented on #34
@joeferner it can be `main`, I do just minor fixes in the `main` and `devel` cuz I work on the `next` version which change the transformer a lot.

[2022-06-11 03:23] ciricc opened #42 "Type is not a Type. But is a Function which returns Type when type is recursive"
I've tried this sample with recursive type. And i found that type is a function, not a `Type`.
I have last version of `tst-reflect` and `ts-node`.

[code]

[2022-06-11 21:01] Hookyns commented on #42
Hello @ciricc,
TY for the issue.
This is a bug. I'll look into it.

[2022-06-20 02:37] dhkatz opened #43 "Type Forwarding"
Is there a way to somehow hint that a type parameter should be forwarded because right now it doesn't seem to work?

[code]

This also seems to print a warning where the decorator `foo` is used:

[code]

If I call `@bar('test', 'description')` directly instead it works fine and I don't get the warning

---

I looked at the generated JS and the issue seems to be that types aren't forwarded when exp

[2022-06-20 04:57] Hookyns commented on #43
Hello @dhkatz,
I think that's because I didn't want to allow this cuz of performance, but I think I know how to do it now. With `@reflect` there should be no perf issue.

[2022-06-20 05:45] dhkatz commented on #43
Thank you for taking a look into this 🙂

This is probably a breaking change so I understand your hesitance 😅

[2022-06-21 06:25] Hookyns commented on #43
Done.

Try new versions `tst-reflect@0.7.5` & `tst-reflect-transformer@0.9.10`.

[2022-06-21 06:25] Hookyns commented on #42
Fixed.

Try new versions `tst-reflect@0.7.5` & `tst-reflect-transformer@0.9.10`

[2022-06-22 02:12] mribbons opened #44 "const _ßr = require("tst-reflect"); // SyntaxError: Identifier '_ßr' has already been declared"
I am using yarn workspaces, project structure is like this
@megarepo/backend
@megarepo/shared

backend imports from shared.

I have added the tst-reflect setup to both packages, and I'm using ts-patch.

My use case is reflecting the type names from shared when they are passed as generic arguments to calls in backend. Things seemed to be working OK, I can compile the shared project and use gettype(

[2022-06-22 04:28] Hookyns commented on #44
How is that even possible? It means there are multiple declarations in the same scope.
Which build tool You use and what's the target, module?

Nope. I see this for the first time. There is an opposite issue that `_ßr` is not declared after hot reloads in some build tools.
If You can create simple repro, it would be nice. 🙂

[2022-06-22 05:04] mribbons commented on #44
Actually your question raises an interesting point. Most of the files where the duplicates are being flagged don't import or require tst-reflect, in fact nothing in the shared package does at present.
At one point when I was testing reflection to see it working within a single package, I saw the _Identifier '_ßr' has already been declared_ error, and it looked like an additional require had been i

[2022-06-22 14:16] ciricc commented on #42
Hello, @Hookyns . Thank you for reply. I've tried new version but it seems like now is just undefined, not a function.

[2022-06-22 19:04] Hookyns commented on #42
Okay, I'll check it again; this must be something with the Array, cuz I wrote test with:
[code]
it didn't work too and now it works. I should try your example first, sorry.

[2022-06-23 00:52] mribbons commented on #44
The problem goes away when I run rimraf tsconfig.tsbuildinfo on the shared package.

[2022-06-23 00:52] #44 closed

[2022-06-23 01:53] dhkatz commented on #43
Thank you very much 😀

[2022-06-23 01:53] #43 closed

[2022-06-23 15:39] Irelynx opened #45 "Null is usually not added to a variable's list of types"
Hello.

I have tried to make some fields of class nullable, but can't get any information about allowed "nullable" behavior (same works with types, functions and interfaces too).

After a little investigation of the behavior, it turned out that the null type is added to field types in some cases. Here is an example code (ts) and "compiled" code (js):

[code]

[code]

As you can see, only types for

[2022-06-24 07:07] Hookyns commented on #45
TY @Irelynx for the issue.
I'll look into it.

Yes, `testDate` is ttly wrong.

[2022-07-03 16:40] Hookyns commented on #42
@ciricc
Fixed in tst-reflect@0.7.6

[2022-07-04 17:30] ciricc commented on #42
@Hookyns Thank you very much! Now is working ok

[2022-07-04 17:30] #42 closed

[2022-07-04 17:37] ciricc opened #46 "There is no way to get Record type arguments"
Hi. I've tried to get `Record` generic types, but nothing returned.

[code]

[2022-07-31 11:42] avin-kavish opened #47 "Use with SWC"
Is it possible to use with SWC?

[2022-07-31 11:54] avin-kavish opened #48 "Reflect on functions"
I have a use case to reflect and get the parameter information of functions. Currently, it looks like it's not possible to do. I tried

[code]

and got the error,

[code]

[2022-07-31 12:16] Hookyns commented on #47
Hi, I'm afraid it is not. Even if it was, it'll have negative impact on performance. This is a TypeScript transformer written in TypeScript/JavaScript. SWC has custom plugin system in Rust.

[2022-07-31 12:25] #47 closed

[2022-08-02 02:00] avin-kavish opened #49 "Unable to get type arguments of class"
It looks like reading the type arguments of a class doesn't work. Inner Type of type aliases resolve correctly, but not classes.

[code]

[2022-08-02 20:36] Hookyns commented on #49
Fixed in tst-reflect-transformer@0.9.11

But `type` work differently than other generic types. `type` is resolved to it's definition. So `type Foo<T> = T & {}` is just union `T & {}`, cuz `Foo` does not rly exist.

Check this [StackBlitz](https://stackblitz.com/edit/tst-reflect-issue-49?file=index.ts,index.js) out.

[2022-08-02 21:09] Hookyns commented on #46
I'm sorry @ciricc, idk how but I missed this issue.

---

This is a little odd case. `type` is always resolved to its definition but in case of `Record`, its definition is an empty object allowing any property of given type (more specific `any`). I don't know how to handle it. I am able to handle it and force it to be type `Record` with given generic arguments (like `Array`) but there is a huge am

[2022-08-04 07:50] ciricc commented on #46
@Hookyns , ok, thank you for reply.

[2022-08-05 02:56] avin-kavish commented on #49
thanks for the fix!

While I'm here, isn't it possible to get types from the reference to a class ? i.e. `getType(Foo)` instead of `getType<Foo>()`

[2022-08-05 02:56] #49 closed

[2022-08-05 05:49] Hookyns commented on #49
@avin-kavish
It is now in `tst-reflect@0.7.8`.

It was possible to get type of value `getType(new Foo())`; just one line and you are able to get type of class itself `getType(Foo)`.

[2022-08-05 16:37] avin-kavish commented on #49
that's great!

I was considering the following about `tst-reflect` usage,

1. Can't we use a decorator directly, without having to call a method that returns a decorator?

[code]

2. Can't we collect type info for all classes/interfaces in a project without using decorators? Maybe it's too slow?

[2022-08-05 21:09] Hookyns commented on #49
@avin-kavish
1. You can. https://github.com/Hookyns/tst-reflect/blob/main/tests/src/11-generic-class-decorator.ts
2. Now all the types passed to `getType<T>()` and types decorated by decorators marked by `@reflect` are "reflected".
\
[`Next`](https://github.com/Hookyns/tst-reflect/blob/v0.10/packages/abstract/src/Module.ts) version is prepared for generating metadata about all the modules and type

[2022-08-06 10:53] avin-kavish opened #50 "getCtor returns undefined when class property refers to another class that is defined after it"
This doesn't work,

[code]

This works,
[code]

It's the `toys: Toy[] = []` line causing the issue, it works when I comment it out. It looks like it only happens for array types, `Toy[]`. just a direct reference works fine.

[2022-08-06 21:42] Hookyns commented on #48
Available in: `tst-reflect@0.7.9`, `tst-reflect-transformer@0.9.12`

Example
[code]

Output
[code]

[2022-08-06 21:52] Hookyns commented on #50
@avin-kavish

It works for me.

[code]

Can you send repro, eg. on StackBlitz?

[2022-08-07 02:17] avin-kavish commented on #50
What I did is more like [this](https://stackblitz.com/edit/tst-reflect-issue-49-pylzsd?file=index.ts,models.ts,entity.ts,package.json,entity.js,models.js). The link is not running but I think you can check the generated code.

[2022-08-07 12:56] Hookyns commented on #50
Okay, there are three issues.

* First issue is not generated "ctor" property.

* Second issue is how decorators work.
There is `__decorate` call inside generated TypeScript which is called before type is exported from the module so you cannot import it from the decorator. This is a "no go".
You will receive type, there is no problem, but import is gonna return `undefined`, always.
Solution is sim

[2022-08-07 13:08] avin-kavish commented on #50
Alright. Actually, 2nd point is not a problem. I did it that way just for the stackblitz example. In my actual implementation I push it to a container and later once all the modules are loaded, I check the types.

[code]

[2022-08-08 04:11] Hookyns commented on #48
@all-contributors add @avin-kavish for bug report.

[2022-08-08 04:19] Hookyns commented on #43
@all-contributors add @dhkatz for bug report.

[2022-08-08 08:37] avin-kavish opened #54 "ES Module support"
@Hookyns check [this](https://stackblitz.com/edit/tst-reflect-issue-49-kdukpz?file=index.js) out. Tried to run under `type: "module"` and got require is not defined.

[2022-08-08 09:19] Hookyns commented on #54
You can create a PR with small change here:
https://github.com/Hookyns/tst-reflect/blob/53b56ac309e3f36c74c87d524268aa4084f87720/transformer/src/config.ts#L220-L229

Add the new module kind to line 228.

[2022-08-08 16:31] Hookyns commented on #54
Published in `tst-reflect-transformer@0.9.14`.
TY for the PR.

[2022-08-09 04:54] avin-kavish commented on #54
Hmm, looks like it's still happening, https://stackblitz.com/edit/tst-reflect-issue-49-kdukpz

[2022-08-10 02:31] avin-kavish commented on #50
It's happening here also. https://stackblitz.com/edit/tst-reflect-issue-49-htnd32?file=package.json,index.ts

[2022-08-10 03:27] avin-kavish commented on #54
Any ideas why?

[2022-08-10 03:32] avin-kavish commented on #54
There's a require statement inserted in `meta-writer/type-lib/TypeLibMetadataNodeGenerator.ts` and
`meta-writer/inline/InlineMetadataNodeGenerator.ts`

[code]

I think that's why.

[2022-08-10 06:26] Hookyns commented on #54
There are some other places where are the requires generated, without using the isESMModule function.

But now I don't know if we modified the isESMModule correctly. It's not just the "module" option but combination with "moduleResolution" or package.json setting. I need to look into it a little bit.

[2022-08-11 03:02] avin-kavish commented on #54
yeah, you might be right. I was asking about top-level await in the typescript repo and they pointed me to this.

https://www.typescriptlang.org/tsconfig#moduleResolution

It has to be set to `nodenext` apparently.

[2022-08-11 06:18] #48 closed

[2022-08-11 15:25] masx200 opened #57 "is there a typescript runtime validator?"
is there a typescript runtime validator?

[2022-08-11 15:30] Hookyns commented on #57
Hi,
what kind of validator you mean? To validate what?

[2022-08-11 15:34] masx200 commented on #57
[code]

[2022-08-11 15:45] Hookyns commented on #57
There is no such validator inside this project. This project is clear Reflection system.

Validator might be some other package using this package to implement the validation.
But such validation is quite simple and you can use built in `Type.isAssignableTo(someOtherType)` and runtime type construction via `getType(some runtime value)`.

Check this [https://stackblitz.com/edit/tst-reflect-validati

[2022-08-11 16:45] Hookyns commented on #57
But maybe you can use https://github.com/joeferner/tst-reflect-json-schema-generator and then u can use existing schema validators or maybe you'll find useful this https://github.com/ciricc/tst-defaults.

[2022-08-12 04:11] masx200 commented on #57
https://www.npmjs.com/package/typescript-is

[2022-08-12 04:43] #57 closed

[2022-08-13 21:19] Hookyns commented on #54
Should be fixed in `tst-reflect@0.8.0` and `tst-reflect-transformer@0.10.1`.

Also there was some trouble with `typelib` mode in nodenext module, cuz of code related to ts-node. Hope it'll be okay.

[2022-08-14 10:48] avin-kavish commented on #54
[code]

[2022-08-14 11:32] avin-kavish commented on #54
Oh look's like there is one issue. In es mode, imports have to use `.js` extension for relative imports. `getCtor()` will have to change. Currently, it's like `import("./index")`

[2022-08-14 11:51] Hookyns commented on #54
@avin-kavish Do you test it with ttsc or ts-node?

_I found some note - from another contributor solving issues for ts-node - saying that ts-node has some issues with extensions .js/.ts so we removed the extensions cuz of it. But it was before nodenext option. They have to fixed it cuz of nodenext IMHO._

[2022-08-14 12:00] avin-kavish commented on #54
With ts-node. Not aware of any issues, i know it won't accept `.ts` extension though. Even `.ts` files have to be imported when `.js`.

[2022-08-14 12:19] Hookyns commented on #34
@Igorjan94, @joeferner
Should be fixed in `tst-reflect-transformer@0.11.1` and `tst-reflect@0.11.0`.

[2022-08-14 12:23] Hookyns commented on #46
@ciricc
Test `tst-reflect-transformer@0.11.1` and `tst-reflect@0.11.0`.

Records, Omit and other features creating type aliases should be supported.
Combination of properties and indexes is generated. Indexes are no more part of properties and `property.index` was removed.

See `type.getProperties()`, `type.getIndexes()`.

[2022-08-14 12:56] Hookyns commented on #54
Try `tst-reflect-transformer@0.11.2`, `tst-reflect@0.11.0`

[2022-08-14 14:30] avin-kavish commented on #54
woot! works now.

[2022-08-14 15:53] #54 closed

[2022-08-14 16:18] ciricc commented on #46
@Hookyns Thank you. I will check it out

[2022-08-14 17:04] Hookyns commented on #46
Record `Record<string, SchemaFields>` will be generated as index `[key: string]: SchemaFields`, so:

[code]

[2022-08-15 16:35] Igorjan94 commented on #34
Works like a charm!

Only bug I found during some testing, that `Omit` fails when using `[key: string]: any` extension in class:

[code]

<details>
  <summary>Example output</summary>

[code]

</summary>

If marked line is uncommented, then type is wrong, otherwise $-$ works as intended

[2022-08-15 17:38] Hookyns commented on #34
Okay,.. I think I got it.

It works like intended IMHO because Omit creates new type alias which is object `{}` and that object have some properties but it has indexer `[key: string]: any` too which hides all other properties with string key. _Those properties are subset of that indexer so TypeScript throws it away, because it is redundant information._

Try this:
[code]

Now it generates the `id`

[2022-08-15 17:40] Hookyns commented on #54
I'm working on it. 👍

[2022-08-15 18:43] Igorjan94 commented on #34
Ah yeah, I see. Didn't notice that typescript throws it away in indexer (anyway, I don't use these indexers now, it was added for migrating)

Thanks for making this amazing package, really appreciate the effort!

[2022-08-15 18:43] #34 closed

[2022-08-19 17:18] avin-kavish opened #59 "typelib option emits `.meta.ts` file"
I think it should be a `.js` file

Edit: Actually it emitted a .ts file into the root dir and .js file into out dir.

[2022-08-19 17:18] avin-kavish commented on #59
Also it ran out of memory.

[code]

[2022-08-19 19:08] Hookyns commented on #59
It is from transpilation, right?
Does it disappear when u disable the transformer?

[2022-08-20 03:14] avin-kavish commented on #59
yeah, it's from `ttsc` with transformer.

yes. In inline mode, build completes in 15secs. In typelib, mode it just hangs and runs out of memory.

[2022-08-20 12:53] avin-kavish opened #60 "Optional boolean resolves to true, false or undefiend"
[code]
This resolves to a container type with `undefined | true | false` so `type.isBoolean()` check on either the `true` type or the `false` type fails.

[code]

[2022-08-21 05:54] avin-kavish opened #61 "Some container types have empty string for `fullName` so equaility can't be checked with `is`"
[code]

[2022-08-21 10:15] avin-kavish commented on #61
I'm getting some inconsistent behaviours with how it handles container types. For example, using the above type,

[code]
When it resolved to any, it's not even visible whether a container was used. I think we should be capturing the type the user has used, not the final simplified type.

[2022-08-21 10:51] Hookyns commented on #60
What's your tsconfig?

I get
[code]

Which is optional boolean property, as it should be.

[2022-08-21 10:54] Hookyns commented on #60
Okay, I found it. That's cuz of `strictNullChecks` option.
That's related to #45

[2022-08-21 11:10] avin-kavish commented on #60
I have that turned on. Do you mean `exactOptionalPropertyTypes`?

[2022-08-21 11:39] Hookyns commented on #60
The behavior of transformer is wrong and is caused by the `strictNullChecks` option.
I've already prepared a fix. Right now, I'm looking into the #45, which is the same problem but from another side.

[2022-08-21 11:47] Hookyns commented on #45
This is caused by the `strictNullChecks` tsconfig option. It is disabled by default and when it is disabled, you can assign null into many types.

Such as:
[code]

That is valid TS code with default tsconfig (with strictNullChecks disabled).

So when you have
[code]
it is the same type, cuz those `null`s are stripped off. Compiler throws is away with disabled `strictNullChecks`.

Solution is to en

[2022-08-22 18:46] Hookyns commented on #60
Well I've found some issues with that fix. I've found super simple solution inside TypeScript which just take type and returns original type without "optionality", but it strip off `null`s too. Different solution will be complicated but I'm working on it.

[2022-08-23 12:40] leohubert opened #62 "How to share metastore between libraries and current project ?"
I develop a library that uses tst-reflect and I want to share the metastore of a project with my library (and conversely, share the metastore of my library with the project).

In 1 word, have a common metastore.

Is it possible?

[2022-08-23 19:05] Hookyns commented on #62
Hi @leohubert, check the discussion #58.

Package built with current version can contain metadata and the package can work with them and also package can work with Types from end application.

What is not supported yet is listing of all the types using `Type.getTypes()`. Well, it will work partly, but... it wasn't meant to work like this in current version. It will be available in the `next` versi

[2022-08-23 20:02] Hookyns commented on #61
That simplification is what TypeScript does, that's how the `type` aliases works. It's just "virtual" placeholder; it's not a real type. Type alias is direct type reference or alias/placeholder for some unions and/or intersections. That's why container types should not have name nor fullName, never. U should not try to compare containers directly IMHO. You can end up with one container which will

[2022-08-25 08:42] leohubert commented on #62
Thanks for the reply @Hookyns!

I'll see how I can help you to move forward :)

[2022-08-25 19:03] #46 closed

[2022-08-26 00:30] carloszimm opened #63 "Method and Function overloads"
Hello folks!

I was wondering if there's **an easy way** to detect/list functions'/methods' overloads? At the README is listed "overloads of a constructors and methods supported," but I couldn't find a real example or snippet to guide me on that matter (though that shouldn't be hard to do it manually, that's why I bolded "an easy way" at the beginning).

Thanks in advance and great library!

[2022-08-26 05:58] Hookyns commented on #63
`type.getConstructors()` returns list with constructor or its overloads.
`type.getMethods()` returns list of methods with their overloads. Each overload is treated the same as method itself. Overload represents callable method. You can detect overloaded methods by grouping methods by name.

StackBlitz [demo](stackblitz.com/edit/tst-reflect-overloads?file=index.ts).
[code]

While writing the demo I

[2022-08-26 06:28] avin-kavish opened #64 "Types are being overwrritten across files in inline mode"
`_ßr.Type.store.set(` calls in different files are overwriting each other when they have the same id.

Suggestion: I think the singleton behavior is good. It means I can access all the types of the library using `Type.store`. I think they just need unique IDs.

[2022-08-26 10:14] avin-kavish commented on #64
https://gist.github.com/avin-kavish/a28e22c62275a63d1788624173d820fc

Search for `_ßr.Type.store.set(1729` in these two files.

[2022-08-26 11:08] Hookyns commented on #64
Whole `typelib` mode is weird in current version. Do you need that mode now?

`next` version will be based on one standard shared static storage, ttly reworked.

[2022-08-26 12:32] carloszimm commented on #63
Got it.
Thanks, @Hookyns!
Looking forward to your fix :)

[2022-08-26 13:27] avin-kavish commented on #64
Sorry I mean inline mode. That’s the problem.

On Fri, 26 Aug 2022 at 16:38, Roman Jámbor ***@***.***> wrote:

[2022-08-26 13:53] Hookyns commented on #64
Is that result of single build? Isn't it result of some hot reload or something? Or do you use incremental build?

_wow, 2k lines of metadata, seems like u rly use the reflection._ 😊

[2022-08-26 14:04] avin-kavish commented on #64
Single build. Yeah I mean my project is at about 40k LOC now. It’s only
gonna get bigger :) it’s similar to asp net core in architecture

On Fri, 26 Aug 2022 at 19:23, Roman Jámbor ***@***.***> wrote:

[2022-08-26 14:08] Hookyns commented on #64
Something like I build.. 😄
https://github.com/Hookyns/NetLeaf

[2022-08-26 14:22] avin-kavish commented on #64
It’s similar but not exactly. In fact the apis are lot different. they are
more express like. Also djangolike.

On Fri, 26 Aug 2022 at 19:38, Roman Jámbor ***@***.***> wrote:

[2022-08-26 14:52] Hookyns commented on #64
Can I clone the repo to debug it? It's not possible that two types has the same ID; it is generated by TypeScript so it meant that TypeScript itself has duplicit type ids and I don't know why.
That conflict is with enum item so maybe it is some special case...

[2022-08-26 16:00] avin-kavish commented on #64
Btw once it conflicted against array iterator built in type

On Fri, 26 Aug 2022 at 20:30, Avin Abeyratne ***@***.***> wrote:

[2022-08-26 21:28] Hookyns commented on #60
After some digging I found out that counting with `true | false` will be necessary.

I've prepared a solution of this case, so with `strictNullChecks`, there is no `undefined` if the property is optional and there is only `boolean`. So that's what u wanted.

But if you do something like this:
[code]
the result will be `null | true | false`. That's just how TypeScript handle that, it's another simp

[2022-08-26 21:29] Hookyns commented on #63
@carloszimm
Implemented in `tst-reflect@0.11.2` and `tst-reflect-transformer@0.11.3`.

[2022-08-26 21:33] Hookyns commented on #45
This must be handled so the reflection keeps standard behavior, no matter what the `strictNullChecks` option is.
So with `strictNullChecks: false` (default) every type will be union with `null`.

So not just `fooProp: string | null;` will be `string | null` but `fooProp: string;` will be `string | null` too.

But this has big impact and it is quite complicated to implement this into currect versio

[2022-08-26 21:36] Hookyns commented on #59
Do you need this now? Can I close it and solve this in the `next` version?

[2022-08-26 22:13] carloszimm commented on #63
@Hookyns
I tested and it's working as expected (following your output posted above). I just have some questions.

1 - While the output for the "someMethod" listed the definitions as well as the implementation, the output for the constructor only included the definitions of it. Is that the expected output?
2 - The last output of "someMethod" didn't show the (union) type for the parameter. Is that t

[2022-08-27 03:45] Hookyns commented on #63
- yeah, thats wrong. Implementation shoud not be visible. Ctors are ok, methods are not.
- I just simply ouput type name. That union is `Container` type, it does not have name. There is `Type.isUnion()` and `Type.getTypes()`. The getTypes returns array of unioned types, you have to handle it.

[2022-08-27 07:06] avin-kavish commented on #59
Is that the one coming end of year?

On Sat, 27 Aug 2022 at 03:06, Roman Jámbor ***@***.***> wrote:

[2022-08-27 08:59] Hookyns commented on #59
Yes

[2022-08-27 12:16] carloszimm commented on #63
Gotcha (:

[2022-08-27 17:09] avin-kavish commented on #60
working.

[2022-08-27 17:09] #60 closed

[2022-08-27 17:15] avin-kavish commented on #59
sure, as long there's no duplicates in inline mode, I can use that

[2022-08-27 17:15] #59 closed

[2022-08-28 13:08] Hookyns commented on #30
Implemented in `the Next` version.

[2022-08-28 13:57] avin-kavish opened #65 "`import * as _Br from 'tst-reflect'` is added to every compiled file"
and not just the ones that use it

[2022-08-28 20:23] leohubert opened #66 "Add support of `isDefaultValueAvailable` and `getDefaultValue` on PropertyInfo and Parameter types"
Hi all!

In a DI project, I need to know if a parameter in a class constructor function has a default value.
And also I need to be able to get the default value if needed.

This can be useful for classic methods or class properties.

[2022-08-29 17:12] Igorjan94 commented on #30
It works fine for `getType<Foo<T>>()`, but fails from inside class like in your first message:

[code]

with `ReferenceError: __genericParams__ is not defined`

[2022-08-29 18:15] Hookyns commented on #30
@Igorjan94 Yes, it is not implemented in the current version 0.x, but it is implemented in the new rewriten version of this package (I call it `The Next` version), which is not public yet. It'll be v1.0 version.

Example you posted will be working, such as:

[code]

[2022-08-29 18:55] Hookyns commented on #33
@all-contributors please add @bjsi for bug report

[2022-08-29 19:49] Hookyns commented on #66
Detect if the parameter has initializer (that's how TypeScript compiler calls default value) is simple, if the parameter is reast parameter too. But I have to think about the value, because it is not easy to get in "static" context,.. somewhere in the metadata.

Imagine that the initializer of the parameter is class instantiation. If you reflect over that function/method from other file, you will

[2022-08-29 20:28] Hookyns commented on #66
Hmm this will be the most problematic case IMHO.

[code]

Initializer is `this._foo`. That cannot be solved.

[2022-08-29 20:51] Igorjan94 commented on #30
Ah, sorry, I thought it's available now, haven't thought that it's private version. Can't wait to test it out!

[2022-08-30 13:09] carloszimm commented on #63
@Hookyns before closing this issue, should the above point still be flagged as a bug or it was a matter of modifying the code (solution) to detect those specific cases (methods)?

[2022-08-30 13:23] Hookyns commented on #63
Still a bug for me until I fix that issue with listed implementation signature which. I think I'll be able to fix it today.

[2022-08-30 13:49] carloszimm commented on #63
Important to note that it's an overload matter. If there wasn't overload, the output of the implementation signature would be ok :)

[2022-08-30 14:38] fourscience opened #68 "Support decorators from TS 4.8"
Seems like I've got an issue with the transformer over a specific version. The tests run on a fork but it fails over the project using it, as the resulted node_modules/tst-reflect-transformer/dist/getDecorators.js.
if (!(declaration === null || declaration === void 0 ? void 0 : declaration.decorators)) {
        return undefined;
}

This is the typescript version resolved:
typescript@^4.0.0:
  ver

[2022-08-30 14:55] fourscience commented on #68
Note, it only happens with yarn, as it resolves typescript with a different version due to
"typescript": "^4.0.0"
in package.json

[2022-08-30 15:49] Hookyns commented on #63
Sure 🙂

[2022-08-31 01:57] carloszimm commented on #63
Hello again @Hookyns

So, I'm facing trouble when it comes to reflect on functions + overloads. To be more specific, I'm trying to reflect on functions exported by a library, and many of them have overloads. Your above examples reflect on classes which is more straight forward but the functions (signatures + implementation) I'm working on are all exported separately using ES module (all located at

[2022-08-31 06:14] Hookyns commented on #63
I have to change the `Type.function: FunctionInfo` to something like `Type.getSignatures(): ReadonlyArray<FunctionInfo>`.

FYI @avin-kavish

[2022-09-01 15:01] Irelynx commented on #45
Thanks a lot for your investigation!

I will try change the tsconfig and test my code as soon as I have time for it.

[2022-09-01 22:42] Hookyns commented on #63
I just published `tst-reflect-transformer@0.12.0` and `tst-reflect@0.12.0` with fixed method overloads and added function overloads.

[2022-09-01 22:50] Hookyns commented on #63
@all-contributors please add @carloszimm for ideas and bug report

[2022-09-02 12:17] #63 closed

[2022-09-06 15:43] avin-kavish commented on #65
This is actually problem for front-end code, affects bundle size.

[2022-09-06 18:06] Hookyns commented on #65
This is added to each root/entry file.
If you configure your tsconfig like `include: "**/*.ts"`, all the matched files are meant as root files. Each of that file can be root/entry file. So it is important to add that to each such file.

If you change the include to `"index.ts"`, TS knows this is only root/entry file, and it will follow imports to find all other application files.

I can add new op

[2022-09-07 05:22] avin-kavish commented on #65
why? The library is only needed when used

[2022-09-07 05:33] avin-kavish opened #72 "Unable to access parameter decorators"
[code]

Returns empty, I think `getDecorators` should be on the parameter itself and not the type?

[2022-09-07 11:53] avin-kavish opened #73 "[BUG] Set not comparable"
[code]

[2022-09-09 09:50] Hookyns commented on #72
You are accessing decorators of the type, ie. you are accessing decorators of the `string` type, which has no decorators.
There are no parameter decorators yet.

[2022-09-13 10:12] zckevin commented on #35
Same issue here

[2022-09-16 05:57] Hookyns commented on #29
Implemented for the v1. Not in the current version.

[2022-09-16 05:57] Hookyns commented on #20
Implemented for the v1. Not in the current version.

[2022-09-16 05:58] #22 closed

[2022-09-16 06:21] Hookyns commented on #24
Can be controlled by the incluse/exclude manually.

`onlySafeImports` needs more feedback.

[2022-09-16 06:25] Hookyns commented on #62
I've designed system for this in v1. Partially implemented.

[2022-09-16 06:26] Hookyns commented on #68
Implemented for the v1. Not in the current version.

[2022-09-16 06:27] Hookyns commented on #72
Implemented for the v1. Not in the current version.

[2022-09-22 06:16] yd021976 opened #74 "[Question] Anyway to add it as angular transformer"
Hi and thank you for this great tool !
I wonder if there is any chance to configure test-reflect to work with angular ngc (i.e. with command like "ng build" or "ng serve")

I know the trick to add a custom transformer in the web pack config in angular as described in the Medium article [custom-typescript-transformers](https://medium.com/@morrys/custom-typescript-transformers-with-angular-for-angul

[2022-09-22 06:30] Hookyns commented on #74
Hi @yd021976, I created this for Angular support https://github.com/Hookyns/ng-custom-transformers

Not tested with the latest version and there is an issue with hot-reloads, but it will be solved in upcoming v1.0.

Other way is `ts-patch`.

[2022-09-22 14:15] Hookyns commented on #74
Here is a StackBlitz [demo](https://stackblitz.com/edit/tst-reflect-angular-ag-custom-transformers?file=src%2Fapp%2Fapp.component.ts).

[2022-09-23 05:25] yd021976 commented on #74
Thank you very much ! I'll try this today :-)
I think you should add this to the "installation" guide as an exemple or sort of how to. I'm sure I'm not the only one looking for Angular integration of your great tool.

[2022-09-23 17:32] yd021976 commented on #74
Hello again,
I configured with success test-reflection-transformer thanks to your help.
Anyway, I'm afraid it is not "compatible" with Angular, I fall into some strange errors :

For some classes (not all, only some...) test-reflect-transformer emit an error saying `Module not found: Error: Can't resolve './classe.file.js' in '<myClassThatUseGetType>'`

I tried to disable AOT, but same error.

I t

[2022-09-23 18:01] Hookyns commented on #74
Angular is complex closed system, there can be many issues with many different things.

Some issues can be caused by transpileOnly or noLib options;
or by incremental builds (you can check this by doing a clean build - remove dist files and remove `xx.tsbuildinfo` file(s)).

There is no such error in tst-reflect. It must be from Angular or from TypeScript iself. If you create a repro, I can try to

[2022-09-24 05:23] yd021976 commented on #74
Hello, here is a simple GitHub repo that generates the error [angular tst-reflect error](https://github.com/yd021976/tst-reflect)
The code causing error is in the app.component.ts file, it's the code using getType on the CTest class `const t2 = getType<CTest>()`

I simply use the command `ng build --plugin ng-custom-transformers` to build the project and I correctly configure tst-reflect plugin.
N

[2022-09-24 06:49] yd021976 commented on #74
After looking a while in web pack generated files, I see that tst-reflect-transformer generates this code for my CTest class
[code]
Unfortunably, the import file "./../base/test.class.js" is never generated by the compiler (angular or typescript, I don't know)

I think it comes from tst-reflect-transformer `NodeGenerator.ts` source file that calls `ts.factory.createImportDeclaration`.

[2022-09-24 09:19] Hookyns commented on #74
Hi, thanks for the repro!
I did not run it yet (I'm on phone) but now I understand what is happening.

It must be an issue in some bundling phase of ng build caused by tst-reflect-transformer because it generate imports with extension (because of `nodenext`/esm modul type). Angular probably contains strict checks and validate the import paths and throw because there is no `.js` file, just `.ts` fi

[2022-09-24 22:32] Hookyns commented on #74
Okay, I've published `tst-reflect-transformer@0.12.1` which fix the issue.
But there is still an issue with hot-reload -> reflection disappear when recompiled after changes.

[2022-09-25 06:54] yd021976 commented on #74
Very great job, thanks a lot ! Angular project build without errors :-)
But... There is another bug : The type of runtime vars failed. I think this is because the "reflect-id" doesn't exist in test-reflect store (I don't know why, but I see that it store only "one" reference).

I've updated my repro with comments out in appComponent.ts what is working and what is not.

PS : Yes, there is the "hot

[2022-09-25 08:44] Hookyns commented on #74
What's the syntax you used? There is no code in your demo repo. `getType<test>()`?
It must be `getType<typeof test>()` or `getType(test)`. `getType<test>` is not valid TS syntax.
![image](https://user-images.githubusercontent.com/2551259/192135099-a56d0fd2-c60f-4f0a-8cab-c87e67f8fa1e.png)

---

I pushed an angular example to this repo yesterday, and it works. See line 21.
https://github.com/Hookyn

[2022-09-25 09:14] Hookyns commented on #74
Hot reloads can be fixed by adding this to polyfills:
[code]

But then there is an issue with generated type IDs, which is related to global issue with incremental build.

IDs of types are the IDs which assign TypeScript itself. But when you do any partial (incremental) build, IDs are different. But not changed parts have references to old IDs and new parts have the new IDs.
This no more an issue

[2022-09-25 09:49] yd021976 commented on #74
opus.. there was a line of code missing in my repo, below the syntax I'm using
in my repo there is code in the src/app and src/base folders, the link is still [tst-reflect-test](https://github.com/yd021976/tst-reflect)

I'll do some new tests today, but good to ear your tests work well
PS : Thanks for the quick and dirty fix for the hot-reload

[code]

[2022-09-25 10:08] Hookyns commented on #74
[code]
Works for me. It only doesn't work after hot reload, as I said, cuz of different id assigned after change.
If it is doesn't work for you even after full build, try to clear ng cache, do complete rebuild.

[2022-09-25 16:40] yd021976 commented on #74
Hello, no problem, it works like a charm. I don't know what I've done this morning, but it was not working. Now it's ok.
I'm very impatient for the v1.0 release :-)

Very great library ! And thank you for your help

[2022-09-25 16:42] yd021976 commented on #74
Ho, I forgot one more thing. Do you think it would be a good idea to update the doc to explain how to configure tst-reflect for Angular ?
If so, I can write a proposal update of the README.md. Just tell me.

[2022-09-25 18:14] Hookyns commented on #74
I already wrote [something](https://github.com/Hookyns/tst-reflect/blob/v0.10/docs/usage/angular.md).
But I didn't want to publish that, cuz support of Angular is just terrible now and new major version is coming soon and it's a game changer, with custom website and complete documentation.

[2022-09-26 05:10] Hookyns commented on #74
But if you have some points, you can submit a PR. 🙂

[2022-09-27 02:03] Manik-Jain opened #75 "[BUG] tst-reflect: You call getType() method directly. You have probably wrong configuration, because tst-reflect-transformer package should replace this call by the Type instance."
**Describe the bug**

I have been using this library with NestJS and Typescript, with essentially the same configurations mentioned in readme, to instantiate my objects at runtime.

Observation:
The code executes like 1/5 runs, and fails otherwise with the error : `tst-reflect: You call getType() method directly. You have probably wrong configuration, because tst-reflect-transformer package should

[2022-09-27 07:58] Hookyns commented on #75
Hi @Manik-Jain,
I'm expecting that your `npm start` invokes `nest start`.

The problem is that `nest start` executes build too (maybe not always; maybe only when there are some changes; probably it builds always but incremental build is enabled so it does not rebuild when there are no changes). But when the build is initiated by nest, it does not call `ttsc` it calls just `tsc`; or `webpack` in ca

[2022-09-27 21:05] #74 closed

[2022-09-27 21:06] Hookyns commented on #62
Implemented for the v1. Not in the current version.

[2022-09-29 06:24] Hookyns commented on #73
Fixed in v1. Not in the current version.

[2022-09-29 06:27] Hookyns commented on #66
I implemented the simple part in v1 (detection if the parameter is the rest parameter, if it has initializer and serialization of constant initializer).

[2022-09-29 06:28] Hookyns commented on #66
Your investigation around `param = new Something()` initializers is still relevant.

[2022-09-29 06:29] Hookyns commented on #65
Fixed in v1. Not in the current version.

[2022-09-29 06:29] #65 closed

[2022-09-29 06:30] Hookyns commented on #61
Fixed in v1. Not in the current version.

[2022-09-29 06:30] #61 closed

[2022-09-29 06:31] Hookyns commented on #50
Fixed in v1. Not in the current version.

[2022-09-29 06:32] #24 closed

[2022-09-29 06:36] Hookyns commented on #75
@Manik-Jain Closing for now, it helped I suppose. Let me know if it doesn't.

[2022-09-29 06:36] #75 closed

[2022-09-29 06:39] Hookyns commented on #37
Fixed in v1. Not in the current version.

[2022-09-29 06:39] #37 closed

[2022-09-29 06:47] Hookyns commented on #75
Related https://github.com/Hookyns/tst-reflect/issues/37

[2022-10-01 22:41] Manik-Jain commented on #75
Hi @Hookyns  thanks for suggesting the work around, it worked for me.
However, I'm running into issues with jest tests. Is there something that you can suggest?

[2022-10-01 23:54] Hookyns commented on #75
Your tests? What kind of issues?

_BTW Jest is configured in this repo and it works just fine._

[2022-10-03 09:12] leohubert commented on #66
I think I have a lead.

[2022-10-03 09:48] Hookyns commented on #66
@leohubert
What if we do something like this in runtime?

[code]

Transformer just has to detect the type; maybe the constant arguments too?
In the v1 this is super easy solution.

[2022-10-06 03:11] Manik-Jain commented on #75
I'm running the tests with `ttsc -p tsconfig.json && jest ` with following `jest` configuration:

[code]

tsconfig.json
[code]
And getting the following error for each line of code that uses tst-reflect
[ERR] tst-reflect: You call getType() method directly. You have probably wrong configuration, because tst-reflect-transformer package should replace this call by the Type instance.
      If you hav

[2022-10-06 04:25] Hookyns commented on #75
Your Jest configuration use TS files from `src` directory.  You have to use your JS files from `dist` directory.

[2022-10-19 19:24] uplight-dev opened #76 "[BUG] type metadata"
**Describe the bug**

Type introspection doesn't seem to work on types extending other types.
Also, since types don't support decorators (i.e. @reflected), one has to manually write getType<TypeA>() in order to activate metadata generation for TypeA. Without this, the result contains invalid values, like "type.name : 'unknown'"

**The code causing the problem**
[code]

**To Reproduce**
Steps to re

[2022-10-19 21:02] Hookyns commented on #76
Hi @uplight-dev,
`TypeB` is just a type alias for `{ prop1: string } & { prop2: string, prop3: string }`, there is no `type` in the type checker, so it is described in metadata like an intersection.

So you have to do something like this:
[code]

[Demo](https://stackblitz.com/edit/tst-reflect-overloads?file=index.ts) on StackBlitz.

[2022-10-20 07:16] Hookyns commented on #76
BTW what do you mean by

TypeA is reflected correctly in the demo.

[2022-10-20 07:51] uplight-dev commented on #76
Thank you, the demo works perfectly.

For the metadata generation, it's when you try to find the type in the TypeStore instead of using getType<TypeC>() construct.

Please see: [Demo](https://stackblitz.com/edit/tst-reflect-type-alias-intersection-eumknj?file=index.ts)

[2022-10-20 08:07] Hookyns commented on #76
Okay, got it.

Sadly, this is intended behavior in the current version. This was intended as an optimisation, so only required types are reflected because of size of metadata (it would be megabytes for some projects). Type.find() was introduced later, but it is limited to reflected types.

New major version (alpha release is rly close) works in a different way (based on include/exclude options) so

[2022-10-20 10:08] uplight-dev commented on #76
Looking forward to it!
And thanks for this awesome lib, makes a difference for my use case!

[2022-10-21 22:06] 3p3r opened #77 "Can't get `getType<T>()` to work"
Hello! Awesome project. Thank you!

I have a question, not sure if I am hitting a setup bug, but I am using tst-reflect through webpack and ttypescipt. I have this snippet:

[code]

I can see my source is instrumented with reflection data correctly, but these calls are all compiling to empty `getType()` calls. Am I doing something wrong?

[2022-10-21 22:18] 3p3r commented on #77
If it helps, I am using `ttsc.transpileModule` directly in code.

[2022-10-22 07:24] Hookyns commented on #77
Hi @3p3r,
here is an StackBlitz [example](https://stackblitz.com/edit/tst-reflect-webpack?file=index.ts) with regular Webpack setup that works fine.

Can you please post a repro with your usage of `ttsc.transpileModule`?

[2022-10-22 08:20] Hookyns opened #78 "Participation in Alpha"
Sign here who wants to participate in the alpha of the new major version. I will invite you to the private project when it is ready. 🎉

[2022-10-22 18:26] 3p3r commented on #77
Thanks for the quick response! So I am writing a new webpack loader for my project that happens to use tst-reflect in it. I am using the following snippet:

[code]
The `tsconfig.json` file on disk is just an empty file. Is this a supported use-case?

[2022-10-23 11:05] #76 closed

[2022-10-25 14:06] Hrach2003 commented on #78
I am excited to see the new version of this library.

[2022-10-25 19:35] Hookyns commented on #77
@3p3r

I played with it a little...

The issue is in transpileModule inside typescript itself. It does not load declarations of modules etc. It only transpile given module.
`getType<>()` calls were not recognized as our getType calls so we ignored them. Recognition is based on declaration.

I did some changes, so every `getType<T>()` without declaration (typechecker returns error for such function

[2022-10-25 19:42] 3p3r commented on #77
Thanks so much for the detailed response. I also found https://ts-morph.com/ in the meantime that has worked with `tst-reflect` and doing in-memory compilation. Using `ts-morph` is admittedly less confusing than the original compiler API.

[2022-10-30 19:49] lsarrazi opened #79 "[BUG]"
**Describe the bug**
Running tst-reflect in watch mode KO

**The code causing the problem**
[code]

**To Reproduce**
_Steps to reproduce the behavior:_
1. `ttsc --watch`

**Expected behavior**

**Runtime (please complete the following information):**
 - Node.js version:
 - TypeScript version:
 - Compiler: [e.g. ttypescript]
[code]

[2022-11-05 12:45] lsarrazi commented on #78
Hi, I want to investigate the potential of this library and would be happy to participate

[2022-11-07 14:10] munkylo7578 opened #80 "Can't get function to work with create-react-app"
Hello ,
I have a question,  I am using tst-reflect through create-react-app and i'm using craco to config webpack. This is my craco.config.js:
[code]

When i'm using this function in your repo's example ,it prints empty :

[code]

Sorry for my bad english , can you help me ? Thanks.

[2022-11-08 19:29] Hookyns opened #81 "[BUG] Uncaught ReferenceError: _ßr is not defined"
## This is a known bug
You can find this issue in projects with incremental build and/or HMR.
This is fixed in the new major version (not released yet).

## Fix
You can hotfix this issue by adding this code somewhere to your project, it has to be executed as soon as possible.
[code]

## Example
Lets have `create-react-app` project. You have to create new file eg. `polyfills.ts`
[code]
and import t

[2022-11-08 19:29] Hookyns commented on #80
Then see issue https://github.com/Hookyns/tst-reflect/issues/81

[2022-11-11 15:04] uplight-dev opened #82 "[Question] npm package using tst-reflect cannot be imported"
Created an npm package with an index.ts which exports several ts files to be referenced by the project importing this package.
`tst-reflect` seems to generate this import statement even for the index.js file generated in dist of the npm package.

`import * as _ßr from "tst-reflect";`

Getting this error in the project importing this package:
SyntaxError: Cannot use import statement outside a modul

[2022-11-13 10:00] Hookyns commented on #80
Feel free to reopen this issue if you run into any related issues.

[2022-11-13 10:00] #80 closed

[2022-11-13 10:17] Hookyns commented on #82
Hello @uplight-dev,

there is an issue that adds `import * as _ßr from "tst-reflect";` into every TS file included in a project, so if you have `.ts` files in the package, the project using that package has to include those `.ts` files and transpille them too, so it will add that line into them too.

You should publish only `.js` and `.d.ts` files. If your package contains some function with gener

[2022-11-15 02:34] jsternadel commented on #78
Sign me up.  I've been testing doing recursive model hydration with data from the Jira API.  So far it looks very promising with the exclusion of one bug with getCtor but that looks like its been flagged as fixed in v1.  I'd be happy to run the alpha through my use case.

[2022-11-20 20:01] AntonC9018 opened #83 "[BUG] Union properties are broken"
Consider the following code:
[code]
The first check works fine and returns `true`.
In the second check, the type of `s` is clearly a union, but it returns `false`.
The same thing happens if I try to extract the types — the first statement correctly returns the two types, while the second one sometimes returns an empty array and sometimes return undefined.
I'm using Vite with HMR (btw the hot reloa

[2022-11-20 22:51] aj-bartocci opened #84 "[BUG] "[ERR] tst-reflect: You call getType() method directly..." error when following base usage examples."
**Describe the bug**
When following the README examples for using `getType` I continuously get the error `[ERR] tst-reflect: You call getType() method directly. You have probably wrong configuration, because tst-reflect-transformer package should replace this call by the Type instance.`

I decided to clone the whole repo and to run the examples to see if maybe it was something with my configuratio

[2022-11-21 05:34] Hookyns commented on #83
Hi,
do you have strictNullChecks option in tsconfig enabled?

[2022-11-21 05:42] Hookyns commented on #84
Hi,
we discovered this last week.

It's caused by TS 4.9, they changed something in the transformer API.

I'm going to debug it this week. I hope it's just a minor change... Until then you have to downgrade to TS 4.8.x.

[2022-11-21 06:07] Hookyns commented on #83
Check the issue #45

[2022-11-21 16:21] aj-bartocci commented on #84
awesome thanks for the quick response, I was able to get it working with 4.8

[2022-11-21 18:17] Hookyns commented on #83
@aj-bartocci
Container is meant to be a wrapper for all types consisting of multiple other types, such as Union, Intersection and Enum (which is union), but it wasn't good design decision so it is fixed in the new major version (not published yet) - Union, Intersection, Enum etc have own types.

Each container type has multiple types inside. You can access them via `types` property, eg. `prop.type

[2022-11-21 18:21] aj-bartocci commented on #83
Got it that makes sense. Using `prop.type.types` should fit my needs. Thank you for creating this library by the way it's very cool.

[2022-11-22 00:46] nduc commented on #78
Looking to see if I can leverage this for my Remix project.  There's an issue with transmitting the class from backend to the front end via the useLoaderFunction().  I'm hoping to leverage this to send the meta data along so when it gets to the other side the class/object can be reconstructed.

[2022-11-26 17:35] Andy-d-g opened #85 "[Question] Comparison of Array types"
**Describe the bug**
The lib do not detect Array of interface

**The code causing the problem**
[code]

**Expected behavior**
return true

**Runtime (please complete the following information):**
 - Node.js version: 18.9.1
 - TypeScript version: 4.8.3
 - Compiler: [e.g. ttypescript] : 1.5.13

**Additional context**
Do you know how I can solve my issue ?

Thank you :)

[2022-11-26 18:36] Hookyns commented on #85
Hi @Andy-d-g,

The way you wrote it you reflect over runtime variable `value`, but it is some runtime value without type information.
If you pass something to the `getType(x)` function, it tries to infer type from the runtime value. In this case, it is able to detect it is an array, but it doesn't know of what type.  So both types are array, but they don't match because of type parameter of the Ar

[2022-11-27 14:46] Andy-d-g commented on #85
Ok but in this case, how can I check the type of a "complexe" object with array of interface in it ?

[code]

This code will return false same if the object as the correct type.
The issue come from the clients array

[2022-11-27 16:24] Hookyns commented on #85
I'm sorry but I just told you that you cannot use the `getType(establishment)` but you have to use `getType<typeof establishment>()`.

This returns true: `getType<typeof establishment>().isAssignableTo(getType<Establishment>())`.

This library works with static types. Don't use `getType(something)`, it's meant for runtime values but only for classes and/or primitive types. It is technically imposs

[2022-11-27 16:48] Hookyns commented on #85
Tell me what you are trying to achieve. I think you sent simple examples of something you want to achieve but there is huge difference how to do it between this simple example and complex one.

**For all of this simple cases you just have to use `getType<typeof someVariable>()` not `getType(someVariable)`. That's your answer.**

If you get some unknown data of type `any` as an argument of your fun

[2022-11-28 23:35] aj-bartocci commented on #78
I would like to be able to help with the alpha version. I was looking to use this package for generic classes which does not seem to be possible in the current version but will be in the new version (https://github.com/Hookyns/tst-reflect/issues/30). My use case being to help create documentation from the actual source code to produce 'live' docs rather than manually documenting things.

[2022-11-29 18:54] Andy-d-g commented on #85
Your response is clear, I can't do what I want.

Thx

[2022-11-29 18:54] #85 closed

[2022-11-29 21:34] Hookyns commented on #85
For example, this is valid example too.

[code]

[code]

https://stackblitz.com/edit/tst-reflect-example-arrays-5xcjrb?file=index.ts

[2022-11-29 21:41] Hookyns commented on #85
This is valid too...
[code]

[2022-11-30 09:39] Andy-d-g commented on #85
It's valid because it's type as "Establishment".
In my case, I received data but I don't know what type is it.
So I need to check if the structure of the object match the interface structure.

[code]

I've understand that I can't do what I want, i need to dig into the object which has array to check each value in it.

I'm right ?

[2022-11-30 10:52] Hookyns commented on #85
Yes.

You have to do something like this:
[code]